/* General Style Rules */
.main-div{ /* Formats the div that makes up the main body of each page */
    background: #0c0f0d;
}

nav{ /* Formats the nav */
    background: #080a09;
    border-bottom: 3px solid #000;
}

.page-header{ /* Formats the header/title at the top of each page */
    font-family: Georgia, Arial, sans-serif;
    font-size: 5vw;
}

.no-border{
	border: none;
}

    /* Elements */
.element-border{ /* Sets a red border around an element */
    border: 2px solid #550000;
}

.element-shadow{ /* Creates a red shadow around an element */
    box-shadow: 0px 0px 5px 10px #550000;
}

.element-top-margin{ /* Creates a small top margin for element */
    margin-top: 2%;
}

.element-bottom-margin{ /* Creates a small bottom margin for element */
	margin-bottom: 2%;
}

.inner-element-top-margin{ /* Creates a medium top margin for elements within other elements */
    margin-top: 5%;
}

    /* Colors */
.red{ /* Sets text color to red */
    color: #550000;
}

.background-red{
    background: #550000;
}
    
    /* Text */
.underline{ /* Underlines text */
    text-decoration: underline;
}

	/* Buttons */
.btn:hover{ /* Sets buttons to a lighter shade upon hover */
	background-color: #770000;
}

/* Index Page Style Rules */
.hero{ /* Creates and formats the hero image on the page */
    background: url(images/hero-image.jpg) center padding-box;
    background-size: cover;
    height: 60vh;
    line-height: 60vh;
}

/* About Page Style Rules */
.about-name{ /* Sets top margin for the member names on the about page */
    margin-top: 2%;
}

/* Footer Style Rules */
footer { /* Sets footer background color */
    background: #080a09;
}

footer p { /* Sets footer text margins to 0 */
    margin: 0;
}